.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  padding: 64px;
  display: flex;
  flex-direction: column;
}

.btn {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 16px;
  font-size: 14px;
  margin: 8px 0;
  background-color: rgba(0,0,0,0.5);
  
  color: white;
  cursor: 'pointer';
}

hr{
  width: 100%;
  margin: 8px 0;
}

button.disabled {
  background-color: lightgray;
  cursor: 'not-allowed';
}

input:focus {
  outline: none;
}

input {
  padding: 8px 8px 8px 10px;
  margin: 6px 0;
  font-size: 12px;
  border-radius: 16px;
}